doctype 5
html
  head
    title Foo
    minify top
      script(src="sub/test.js")
      script(src="sub/test2.js")
      link(rel="stylesheet" href="sub/test.scss")
      link(rel="stylesheet" href="sub/test2.scss")
  body
    h1 Foobar
